* {
  box-sizing: border-box;
}

.body-tag {
  background-color: #f7f6fe;
  display: flex;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  min-height: 500px;
  overflow: hidden;
}

.words-container {
  height: 100%;
  overflow: auto;
}

.words-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-header {
  background-color: #22222c;
  color: #fff;
}

.main-title {
  padding: 0 20px;
}

.main-nav-item {
  cursor: pointer;
  padding: 10px 20px;
  text-transform: capitalize;
  transition: background-color .2s ease-in-out;
}

.main-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-nav-item.active {
  background-color: #716bfa;
  font-weight: bold;
}

.pagination-form {
  padding: 10px 20px;
}

.pagination-selector {
  border-radius: 5px;
  padding: 5px;
}

.word-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  margin: 5px;
  position: relative;
  width: 24%;
}

.word-card-rank {
  align-items: center;
  color: black;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  right: 3px;
  position: absolute;
  top: 3px;
  height: 40px;
  width: 40px;
}

.word-card-main-word {
  font-size: 30px;
  font-weight: bold;
  margin: 13px 0;
  text-align: center;
}

.word-card-table {
  border-collapse: collapse;
  width: 100%;
}

.word-card-table-row:nth-child(odd) {
  background-color: #f7f6fe;
  transition: backround-color .2s ease-in-out;
}

.word-card-table-row:hover {
  background-color: #f64f51;
  color: #fff;
  font-weight: bold;
}

.word-card-language-cell {
  text-transform: capitalize;
}

.word-card-table-cell,
.word-card-language-cell {
  padding: 6px 0;
  text-align: center;
  width: 50%;
}

@media (max-width: 1200px) {
  .word-card {
    width: 32%;
  }
}

@media (max-width: 950px) {
  .word-card {
    width: 48%;
  }
}

@media (max-width: 700px) {
  .word-card {
    width: 100%;
  }
}
