.body-tag {
    background-color: $grey-100;
    display: flex;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    min-height: 500px;
    overflow: hidden;
}

.words-container {
    height: 100%;
    overflow: auto;
}

.words-wrapper {
    display: flex;
    flex-wrap: wrap;

}