.main-header {
    background-color: $black-100;
    color: $white-100;
}

.main-title {
    padding: 0 20px;
}

.main-nav-item {
    cursor: pointer;
    padding: 10px 20px;
    text-transform: capitalize;
    transition: background-color .2s ease-in-out;
}

.main-nav-item:hover {
    background-color: rgba(255,255,255, .1);
}

.main-nav-item.active {
    background-color: $purple-100;
    font-weight: bold; 
}

.pagination-form {
    padding: 10px 20px;
}

.pagination-selector {
    border-radius: 5px;
    padding: 5px;
}